@using AspCourseProject.Domain.Entities
@model AspCourseProject.WebUI.Models.PersonView
<div class="item">
    <img src="@Url.Content(Model.Person.Image)" />
    <div class="info">
        <div class="person-name">@Model.Person.Name</div>
        <div class="person-description">Description: @Model.Person.Description</div>
        <div class="person-category">House: @Model.Person.Category</div>
        <div class="person-price">Price: @Model.Person.Price</div>
        <div class="person-rating">Rating: @Model.Person.Rating</div>
        <div class="person-gender">Gender: @Model.Person.Sex()</div>
        <div class="person-status">Status: @Model.Person.Status()</div>
    </div>
    @using (Html.BeginForm("AddVote", "Vote", FormMethod.Post, new { @class = "voting-button" }))
    {
        @Html.Hidden("PersonId", Model.Person.PersonId)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        if (@Model.IsVoted)
         {
             <input type="submit" value="♥ Vote" disabled/>
        }
        else
        {
            <input type="submit" value="♥ Vote" />
        }

    }
</div>

