@using AspCourseProject.Domain.Entities
@using AspCourseProject.Domain.ModelHelpers
@model AspCourseProject.WebUI.Models.PersonView

<div class="item">
    @if (Model.Person.ImageData != null)
            {
        <img src="@Url.Action("GetImage", "Person", new {Model.Person.PersonId})" />
    }
    <div class="info">
        <div class="person-name">@Model.Person.Name</div>
        <div class="person-description">Description: @Model.Person.Description</div>
        <div class="person-category">House: @Model.Person.Category</div>
        <div class="person-price">Price: @Model.Person.Price</div>
        <div class="person-rating">Rating: @Model.Person.Rating</div>
        <div class="person-gender">Gender: @Model.Person.Gender.Description()</div>
        <div class="person-status">Status: @Model.Person.Status()</div>
    </div>
    @using (Ajax.BeginForm("AddVote", "Vote", new AjaxOptions {UpdateTargetId = "cart"}))
    {
        @Html.Hidden("PersonId", Model.Person.PersonId)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        if (@Model.IsVoted)
        {
            <input type="submit" value="♥ Vote" disabled/>
        }
        else
        {
            <input type="submit" value="♥ Vote"/>
        }
    }
    @{
        Html.RenderAction("List", "Comment", new {id = @Model.Person.PersonId});
    }
</div>

